* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* FONTE */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

div#root {
    height: 100%;
    width: 100%;

}